@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #7ec8e3;
  --secondary: #2e8bc0;
  --background: #050a30;
  --midnight-blue: #145da0;
}

body {
  color: var(--primary);
  background: var(--background);
}

a:hover {
  color: var(--secondary);
  text-decoration: underline;
}
