@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #7ec8e3;
  --secondary: #2e8bc0;
  --background: #050a30;
  --midnight-blue: #145da0;
  --baby-blue: #7ec8e3;

  --text-size-base: 1rem;
  --nav-min-height: 100px;
}

body {
  font-size: var(--text-size-base);
  color: var(--primary);
  background: var(--background);

  display: grid;
  min-height: 100dvh;
  grid-template-rows:
    auto 1fr auto;
}

a:hover {
  color: var(--baby-blue);
  text-decoration: underline;
}
