@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #7ec8e3;
  --secondary: #2e8bc0;
  --background: #050a30;
  --midnight-blue: #145da0;
  --baby-blue: #7ec8e3;
  --blue: #0c2d48;

  --text-size-base: 1rem;
  --nav-min-height: 80px;

  --width-calculated-scroll: calc(100dvw - 3rem);
}

@layer utilities {
  .button-primary {
    @apply font-medium text-primary bg-blue hover:bg-midnightBlue focus:ring-2 hover:no-underline focus:outline-none focus:ring-blue rounded-lg p-4 text-center me-2;
  }

  .button-secondary {
    @apply font-medium text-background bg-primary hover:bg-secondary focus:ring-2 hover:no-underline focus:outline-none focus:ring-primary rounded-lg p-4 text-center me-2;
  }

  .header {
    @apply mb-4 text-4xl sm:text-5xl;
  }

  .section-container {
    @apply sm:px-12 md:px-16 lg:px-32 xl:px-48 py-24 sm:py-32 w-full;
  }

  .paragraph {
    @apply mb-4;
  }

  .tab {
    @apply text-midnightBlue w-max md:w-full md:text-left box-border border-b-2 border-blue md:border-b-0 md:border-l-2 px-8 md:px-4 py-2 rounded-t-md md:rounded-none md:rounded-r-md;
  }

  .tab.active {
    @apply bg-blue text-babyBlue box-border border-b-2 border-midnightBlue md:border-l-2 md:border-b-0 font-medium;
  }

  .tab-list {
    @apply max-w-fit w-calculatedScroll md:w-full whitespace-nowrap overflow-x-auto pt-2 md:pt-0 md:flex flex-col;
  }

  .indented-list-item {
    @apply -indent-[1.4rem];
  }
}

body {
  font-size: var(--text-size-base);
  color: var(--primary);
  background: var(--background);

  display: grid;
  min-height: 100dvh;
  grid-template-rows:
    auto 1fr auto;
}

a:hover {
  color: var(--baby-blue);
  text-decoration: underline;
}

.blurred-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100dvh;
  height: 100dvh;
  backdrop-filter: blur(0);
  transition: backdrop-filter 0.2s ease-in-out;
  pointer-events: auto;
  display: none;

  &.active {
    backdrop-filter: blur(5px);
    pointer-events: none;
    display: initial;
  }
}
