.containerSidebar {
    position: absolute;
    top: 0;
    right: 0;

    height: 100dvh;

    transition: transform 0.2s ease-in-out;
    transform: translateX(100%);

    &.open {
        transform: translateX(0);
    }
}
